<tr>
  <td class="user"><%= link_to_user bookmark.user %></td>
  <td class="tag"><%=h bookmark.flow %></td>
  <td>
    <%= link_to 'Details', bookmark %>
    <%= link_to 'Remove', bookmark, :confirm => 'Are you sure?', :method => :delete %></td>
  </td>
</tr>
