<tr>
  <td><%= link_to bookmark.user.login, bookmark.user %></td>
  <td><%=h bookmark.flow %></td>
  <td>
    <%= link_to 'Details', bookmark %>
    <%= link_to 'Remove', bookmark, :confirm => 'Are you sure?', :method => :delete %></td>
  </td>
</tr>
