!= form.input :title, :help => 'Full title of source'
!= form.input :citation_part, :help => 'Source-specific prefix of citations'
!= form.input :language, :label_method => :name
!= form.input :tei_header, :label => 'TEI header'
