!= form.input :title, :help => 'Full title of source'
!= form.input :abbreviation, :help => 'Abbreviated title to be used in citations'
!= form.input :language, :label_method => :name
!= form.input :tei_header, :label => 'TEI header'
