<% search_form_tag sources_path do %>
  <label>Title</label><%= text_field_tag :query, params[:query] %>
<% end %>

<%= render_tabular @sources, :pagination => true, :fields => [ 'Title', 'Language', '&nbsp;' ] %>
