!= paginate @sources

.table-of-sources
  %ul
    - @sources.group_by { |source| source.language.name }.sort.each do |language_name, sources|
      %li
        =language_name
        %ul
          - sources.each do |source|
            %li!=link_to source.author_and_title, source
