!= paginate @sources

%h1.ui.header
  Table of contents

.ui.list
  - @sources.group_by(&:language_name).sort.each do |language_name, sources|
    .item
      .header
        = language_name
      .ui.list
        - sources.each do |source|
          .item
            != link_to source.author_and_title, source
