language: ruby
rvm:
  - 2.2.3
env:
  - DB=sqlite
  - DB=mysql
  - DB=postgresql
before_script:
  - cp config/database.yml.travis config/database.yml
  - bin/rake db:setup
script:
  - bin/rails test
  - bin/rspec
