<% stylesheet 'sentence_divisions' %>

<div class="sentence-divisions">
  <%= format_presentation_text(@sentence.sentences_in_context, {
    :section_numbers => true,
    :sentence_numbers => true,
    :highlight => [@sentence]
  }) %>
</div>
