<%= render :partial => 'shared/location', :locals => { :sentence => @sentence, :title => 'Annotation', :value => 'Sentence divisions', :edit_url => :annotation_sentence_division_url } %>

<%= render :partial => 'show' %>

<div class="annotation-actions">
  <%= wizard_options(edit_annotation_sentence_division_path(@sentence), params[:wizard]) %>
</div>
