An account that will give you access to the PROIEL Corpus has been set up for you. 

Your user name is

  <%= @login %>

Please go to the following address to activate your account.

  <%= @url %>

Best wishes,
The PROIEL Corpus team
