%tr
  %td
    = sentence.citation
    = truncate(sentence.to_s, :length => 70, :omission => Unicode::U2026)
    != readable_completion sentence, :checkmark => :only
  %td
    != link_to 'Details', sentence
