<tr>
  <td><%= readable_reference(sentence.reference) %></td>
  <td class="form" lang="<% sentence.language %>"><%= format_abbreviated_sentence(sentence) %></td>
  <td><%= link_to 'Details', sentence %></td>
</tr>
