<script type="text/x-template" id="search-view-template">
  <div>
    <!--unless @tokens.empty? or @search.result.count  5000
      link_to 'Download results as CSV', params.merge(format: :csv)
      link_to 'Download results as text file', params.merge(format: :txt)
    -->

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Language</label>
      </div>
      <div class="control">
        <select class="input" v-model="language_tag">
          <option value=""></option>
          <option v-for="l in language_tags" value="{{ $key }}">{{ l }}</option>
        </select>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Source</label>
      </div>
      <div class="control">
        <select class="input" v-model="query.source_id">
          <option value=""></option>
          <option v-for="s in sources" value="{{ $key }}">{{ s }}</option>
        </select>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Sentence status</label>
      </div>
      <div class="control">
        <select class="input" v-model="query.status_tag">
          <option value=""></option>
          <option v-for="s in status_tags" value="{{ $key }}">{{ s }}</option>
        </select>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Form</label>
      </div>
      <div class="control">
        <!-- ? matches any character, * any string -->
        <input class="input" type="text" v-model="query.form">
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Lemma</label>
      </div>
      <div class="control">
        <!-- ? matches any character, * any string, # separates variant -->
        <input class="input" type="text" v-model="query.lemma">
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Part of speech</label>
      </div>
      <div class="control">
        <select class="input" v-model="query.part_of_speech_tag">
          <option value=""></option>
          <option v-for="p in part_of_speech_tags" value="{{ $key }}">{{ p }}</option>
        </select>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Relation</label>
      </div>
      <div class="control">
        <select class="input" v-model="query.relation_tag">
          <option value=""></option>
          <option v-for="r in relation_tags" value="{{ $key }}">{{ r }}</option>
        </select>
      </div>
    </div>

    <div class="control is-horizontal">
      <div class="control-label">
        <label class="label">Information status</label>
      </div>
      <div class="control">
        <select class="input" v-model="query.information_status_tag">
          <option value=""></option>
          <option v-for="i in information_status_tags" value="{{ $key }}">{{ i }}</option>
        </select>
      </div>
    </div>

  <!-- MorphFeatures::MORPHOLOGY_PRESENTATION_SEQUENCE.each_with_index do |field, i| >
      <= f.input "morphology_tag_char#{MorphFeatures::MORPHOLOGY_POSITIONAL_TAG_SEQUENCE.index(field)}_matches", label: field.to_s.capitalize, collection: search_morphology_field_tags(field) >
  < end -->

    <table class="table">
      <tbody>
        <tr v-for="token in tokens.tokens">
          <td><a v-link="{ path: '/sentences/' + token.sentence_id }">{{ token.citation }}</a></td>
          <td class="is-text-right formatted-text" lang="{{ token.language }}">{{{ token.left }}}</td>
          <td class="highlight is-text-centered" lang="{{ token.language }}">{{{ token.match }}}</td>
          <td class="is-text-left formatted-text" lang="{{ token.language }}">{{{ token.right }}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<script type="text/x-template" id="typeahead-template">
  <div class="typeahead">
    <div class="wrapper">
      <input type="text" placeholder="Search lemma completions" autocomplete="off" v-model="query" @keydown.down="down" @keydown.up="up" @keydown.enter="hit" @keydown.esc="reset" @blur="reset" @input="update"/>
      <i class="fa fa-spinner fa-spin" v-if="loading"></i>
      <template v-else>
      <i class="fa fa-search" v-show="isEmpty"></i>
      <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
      </template>
    </div>
    <ul v-show="hasItems">
      <li v-for="item in items" :class="activeClass($index)" @mousedown="hit" @mousemove="setActive($index)">
        <span class="form" v-text="item.form"></span><span class="gloss" v-text="item.gloss"></span>
      </li>
    </ul>
  </div>
</script>

<script type="text/x-template" id="morphology-editor-template">
  <div class="morphology-view interlinear">
    <div id='palette' v-if='isSelected'>
      <span id='fields'>
        <select v-if='availablePartsOfSpeech.length &gt; 0' v-model='selectedToken.lemma.part_of_speech_tag'>
          <option v-bind:value='s.tag' v-for='s in availablePartsOfSpeech'>
            {{ s.long }}
          </option>
        </select>
        <select v-if='availableInflections.length &gt; 0' v-model='selectedToken.msd.inflection'>
          <option v-bind:value='s.tag' v-for='s in availableInflections'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableMoods.length &gt; 0' v-model='selectedToken.msd.mood'>
          <option v-bind:value='s.tag' v-for='s in availableMoods'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableTenses.length &gt; 0' v-model='selectedToken.msd.tense'>
          <option v-bind:value='s.tag' v-for='s in availableTenses'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableVoices.length &gt; 0' v-model='selectedToken.msd.voice'>
          <option v-bind:value='s.tag' v-for='s in availableVoices'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableDegrees.length &gt; 0' v-model='selectedToken.msd.degree'>
          <option v-bind:value='s.tag' v-for='s in availableDegrees'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableCases.length &gt; 0' v-model='selectedToken.msd.case'>
          <option v-bind:value='s.tag' v-for='s in availableCases'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availablePersons.length &gt; 0' v-model='selectedToken.msd.person'>
          <option v-bind:value='s.tag' v-for='s in availablePersons'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableNumbers.length &gt; 0' v-model='selectedToken.msd.number'>
          <option v-bind:value='s.tag' v-for='s in availableNumbers'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableGenders.length &gt; 0' v-model='selectedToken.msd.gender'>
          <option v-bind:value='s.tag' v-for='s in availableGenders'>
            {{ s.text }}
          </option>
        </select>
        <select v-if='availableStrengths.length &gt; 0' v-model='selectedToken.msd.strength'>
          <option v-bind:value='s.tag' v-for='s in availableStrengths'>
            {{ s.text }}
          </option>
        </select>
      </span>
      <typeahead :store="store" :query="selectedToken.lemma.form"></typeahead>
    </div>

    <div id='guesses' v-if='isSelected'>
      <label>Suggestions:</label>
      <input type='button' v-bind:value='formatSuggestion(suggestion)' v-for='suggestion in suggestions' v-on:click='guess(suggestion)'>
    </div>

    <div class='legend morphtags-legend'>
      <dl>
        <dt class='mannotated-bg'></dt>
        <dd>Annotated</dd>
        <dt class='munambiguous-bg'></dt>
        <dd>Unambiguous guess</dd>
        <dt class='mambiguous-bg'></dt>
        <dd>Ambiguous or no guess</dd>
      </dl>
    </div>

    <table>
      <tr data-status='annotated' v-bind:class="{ 'selected': token.id == selected }" v-for='token in orderedTokens' v-on:click='select(token.id)'>
        <td class='form'>{{ token.form }}</td>
        <td class='pos'>{{ token.lemma.part_of_speech_tag | posToText }}</td>
        <td class='msd'>{{ token.msd | msdToText }}</td>
        <td class='lemma'>{{ token.lemma | lemmaToForm }}</td>
        <td class='gloss'>{{ token.lemma | lemmaToGloss }}</td>
      </tr>
    </table>

    <button :disabled='!isValid' class='ui primary button' v-on:click.stop='submit'>
      Save
    </button>
  </div>
</script>

<script type="text/x-template" id="tree-template">
  <li :class="{'selected': isSelected}" v-on:click.stop="select">
    <tt class="relation">{{ us.relation_tag }}</tt><span class="slashes"><template v-for="slash in us.slashes">/<select v-model="slash.target_id">
      <option v-for="token in store.tokenIndex" value="{{ token.id }}" v-if="token.relation_tag != 'ROOT'">
        {{ token.token_number }}
      </option>
    </select></template></span>
    {{ form }}<span class="token-number">{{ us.token_number }}</span>
    <ul v-if="hasChildren" class="tree">
      <tree
        class="item"
        v-for="child in children"
        :us="child"
        :model="model"
        :selected="selected"
        >
      </tree>
    </ul>
  </li>
</script>

<script type="text/x-template" id="syntax-editor-template">
  <div class="syntax-view">
    <div class='annotation'>
        <div class='control is-grouped'>
          <a class='button' v-bind:disabled='noActionableElement' v-on:click='remove'>
            <span class="icon is-small">
              <i class="fa fa-remove"></i>
            </span>
            <span>Remove</span>
          </a>

          <a class='button' v-bind:disabled='noCutableElement' v-on:click='cut'>
            <span class="icon is-small">
              <i class="fa fa-cut"></i>
            </span>
            <span>Cut</span>
          </a>

          <a class='button' v-bind:disabled='noPasteableElement' v-on:click='paste'>
            <span class="icon is-small">
              <i class="fa fa-paste"></i>
            </span>
            <span>Paste</span>
          </a>

          <input class='button is-danger'  type='button'                                       v-on:click='clear'         value='Clear'>

          <a class='button' v-on:click='reset'>
            <span class="icon is-small">
              <i class="fa fa-undo"></i>
            </span>
            <span>Reset</span>
          </a>

          <input class='button is-success' type='button'                                       v-on:click='addEmptyC'     value='Add asyndetic conjunction'>
          <input class='button is-danger'  type='button'                                       v-on:click='addEmptyV'     value='Add empty verbal node'>
          <input class='button is-danger'  type='button' v-bind:disabled='noActionableElement' v-on:click='addSlash'      value='Add slash'>
          <input class='button is-warning' type='button' v-bind:disabled='noRemoveableSlashes' v-on:click='removeSlashes' value='Remove slashes'>
        </div>

      <div class='actions'>
        <label>
          <input name='build-direction' type='radio' v-bind:disabled='noActionableElement' v-model='buildDirection' value='down'>
          Build downwards
        </label>
        <label>
          <input name='build-direction' type='radio' v-bind:disabled='noActionableElement' v-model='buildDirection' value='up'>
          Build upwards
        </label>
      </div>

      <div class='relation-palette'>
        <label v-for='relation in schema.relations'>
          <input name='relation-palette' type='radio' v-bind:disabled='noActionableElement' v-model='selectedToken.relation_tag' value='{{ $key }}'>
          <span>
            <span class='relation'><abbr title='{{ relation.summary }}'>{{ $key }}</abbr></span>
          </span>
        </label>
      </div>

      <div class="words">
        <label v-for="token in orderedTokens">
          <span> </span>
          <input type="radio" name="token-palette" value="{{ token.id }}" v-bind:class="{'consumed': isConsumed(token)}" v-model="selected"></input>
          <span><span class="form">{{ token.form }}</span><span class="token-number">{{ token.token_number }} </span></span>
        </label>
      </div>

      <ul class='tree'>
        <tree :model='$data' :us='rootToken'></tree>
      </ul>
    </div>

    <button :disabled='!isValid' class='ui primary button' v-on:click.stop='submit'>
      Save
    </button>
  </div>
</script>

<script type="text/x-template" id="lemma-view-template">
  <div class="lemma-view">
    <table class="table">
      <tbody>
        <tr>
          <td>Form</td>
          <td @dblclick="editable($event, 'form')">{{ lemma.form }}</td>
        </tr>

        <tr>
          <td>Gloss</td>
          <td @dblclick="editable($event, 'gloss')">{{ lemma.gloss }}</td>
        </tr>

        <tr><td>Part of speech</td><td>{{ part_of_speech }}</td></tr><!-- TODO -->
        <tr><td>Language</td><td>{{ language }}</td></tr><!-- TODO -->

        <tr>
          <td>Foreign IDs</td>
          <!-- TODO: A comma-separated list of key-value pairs that link the lemma to some external resource -->
          <td @dblclick="editable($event, 'foreign_ids')">{{ lemma.foreign_ids }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <tbody>
        <tr v-for="token in tokens.tokens">
          <td><a v-link="{ path: '/sentences/' + token.sentence_id }">{{ token.citation }}</a></td>
          <td class="is-text-right formatted-text" lang="{{ token.language }}">{{{ token.left }}}</td>
          <td class="highlight is-text-centered" lang="{{ token.language }}">{{{ token.match }}}</td>
          <td class="is-text-left formatted-text" lang="{{ token.language }}">{{{ token.right }}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<script type="text/x-template" id="dictionary-view-template">
  <div class="dictionary-view">
    <section>
      <div class="control is-horizontal">
        <div class="control-label">
          <label class="label">Language</label>
        </div>
        <div class="control">
          <select class="input" v-model="query_language">
            <option value=""></option>
            <option v-for="lang in languages" value="{{ $key }}">{{ lang }}</option>
          </select>
        </div>
      </div>

      <div class="control is-horizontal">
        <div class="control-label">
          <label class="label">Lemma</label>
        </div>
        <div class="control">
          <input class="input" type="text" v-model="query_form">
        </div>
      </div>

      <div class="control is-horizontal">
        <div class="control-label">
          <label class="label">Part of speech</label>
        </div>
        <div class="control">
          <select class="input" v-model="query_part_of_speech">
            <option value=""></option>
            <option v-for="pos in parts_of_speech" value="{{ $key }}">{{ pos.long }}</option>
          </select>
        </div>
      </div>
		</section>

		<section>
      <pagination :pagination="pagination" :callback="fetchData" :offset="0"></pagination>

      <nav class="pagination">
        <ul>
          <li>
            <a>1</a>
          </li>
          <li>
            <span>...</span>
          </li>
          <li>
            <a>45</a>
          </li>
          <li>
            <a class="is-active">46</a>
          </li>
          <li>
            <a>47</a>
          </li>
          <li>
            <span>...</span>
          </li>
          <li>
            <a>86</a>
          </li>
        </ul>
      </nav>

      <div class="is-text-centered">
        {{ count }} matches
        <!-- %= page_entries_info @lemmata, entry_name: 'matches' % -->
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Lemma</th>
            <th>Part of speech</th>
            <th>Gloss</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="lemma in lemmata">
            <td><a v-link="{ path: '/lemma/' + lemma.id }" lang="{{ lemma.language }}">{{ lemma.form }}</td>
            <td>{{ parts_of_speech[lemma.part_of_speech].long }}</td>
            <td>{{ lemma.gloss }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</script>

<div id="app" class="columns">
  <div class="column is-3">
    <aside class="menu">
      <p class="menu-label">Navigation</p>
      <ul class="menu-list">
        <li><a v-link-active v-link="{ path: '/dictionary', activeClass: 'is-active' }">Dictionary</a></li>
        <li><a v-link-active v-link="{ path: '/search', activeClass: 'is-active' }">Search</a></li>
      </ul>
      <p class="menu-label">Annotation</p>
      <ul class="menu-list">
        <li><a v-link-active v-link="{ path: '/morphology', activeClass: 'is-active' }">Morphology</a></li>
        <li><a v-link-active v-link="{ path: '/syntax',     activeClass: 'is-active' }">Syntax</a></li>
      </ul>
    </aside>
  </div>

  <div class="column">
    <i class="fa fa-spinner fa-spin fa-2x" v-if="loading"></i>

    <router-view keep-alive transition transition-mode="out-in"></router-view>
  </div>
</div>
