<% search_form_tag sentences_path do %>
  <label>Source</label><%= source_select_tag :source, params[:source], :include_blank => true %>
<% end %>

<%= render_tabular @sentences, :pagination => true,
  :fields => [ 'Location', 'Segmentation error', '&nbsp;' ] %>
