<%= stylesheet 'dependencies' %>

<div class="legend dependencies">
  <h3>Legend:</h3>

  <dl>
    <dt class="head-dependent-relation-bg"></dt><dd>Head-dependent relation</dd>
    <dt class="slash-relation-bg"></dt><dd>Slash relation</dd>
  </dl>
</div>
