- if @sentence.has_dependency_annotation?
  .dependencies-image
    - if user_preferences[:graph_format] == "svg"
      %object{:data => sentence_dependencies_url(@sentence, :format => :svg), :type => "image/svg+xml"}
    - else
      %img{:src => sentence_dependencies_url(@sentence, :format => :png)}
- else
  No dependency annotation
