<%= stylesheet 'dependencies' %>

<div class="dependencies-image">
  <% if @sentence.has_dependency_annotation? %>
    <img src="<%= annotation_dependencies_url(@sentence, :format => :png) %>" />
  <% else %>
    No dependency annotation
  <% end %>
</div>
