<% if @sentence.has_dependency_annotation? %>
  <div id="app-graph" data-method="<%= user_preferences[:graph_method] %>" data-graph-url="<%= sentence_url(@sentence, format: :svg) %>">
    <nav class="level">
      <div class="level-left">
      </div>
      <div class="level-right">
        <div class="level-item">
          <label class="label">Graph type</label>
          <p class="control">
            <select class="input" v-model="current">
              <option v-for="mode in modes">{{ mode }}</option>
            </select>
          </p>
        </div>
      </div>
    </nav>
    <div class="dependencies-image">
      {{{ graph }}}
    </div>
  </div>
<% else %>
  No dependency annotation
<% end %>
