<%= render :partial => 'shared/location', :locals => { :sentence => @sentence, :title => 'Annotation', :value => 'Dependency structure', :edit_url => :sentence_dependencies_url } %>

  <p style="text-align:center">
    <%= format_sentence(@sentence, { :sentence_numbers => true, :token_numbers => true, }) %>
  </p>

<%= render :partial => 'show' %>

<div class="annotation-actions">
  <%= wizard_options(edit_sentence_dependencies_path(@sentence), params[:wizard]) %>
</div>
