<%= stylesheet 'info_statuses' %>

<div class="legend">
  <h3>Legend:</h3>

  <dl>
    <dt class="new"></dt><dd>new</dd>
    <dt class="acc"></dt><dd>acc</dd>
    <dt class="acc-gen"></dt><dd>acc-gen</dd>
    <dt class="acc-sit"></dt><dd>acc-sit</dd>
    <dt class="acc-inf"></dt><dd>acc-inf</dd>
    <dt class="old"></dt><dd>old</dd>
    <dt class="old-inact"></dt><dd>old-inact</dd>
    <dt class="no-info-status"></dt><dd>annotatable (undecided)</dd>
    <dt class="info-unannotatable"></dt><dd>unannotatable</dd>
  </dl>
  <br />
  <dl>
    <dt class="contrast1"></dt><dd>in contrast group <b>a</b></dd>
    <dt class="contrast2"></dt><dd>in contrast group <b>b</b></dd>
    <dt class="contrast3"></dt><dd>in contrast group <b>c</b></dd>
    <dt class="contrast4"></dt><dd>in contrast group <b>d</b></dd>
    <dt class="contrast5"></dt><dd>in contrast group <b>e</b></dd>
  </dl>
  <br />
  <dl>
    <dt class="antecedent"></dt><dd>antecedent</dd>
  </dl>
</div>
