<%= stylesheet 'info_statuses' %>

<div class="legend">
  <h3>Legend:</h3>

  <dl>
    <dt class="new"></dt><dd>1: new</dd>
    <dt class="acc"></dt><dd>2: acc</dd>
    <dt class="acc-gen"></dt><dd>3: acc-gen</dd>
    <dt class="acc-disc"></dt><dd>4: acc-disc</dd>
    <dt class="acc-inf"></dt><dd>5: acc-inf</dd>
    <dt class="old"></dt><dd>6: old</dd>
    <dt class="no-info-status"></dt><dd>7: annotatable (undecided)</dd>
    <dt class="info-unannotatable"></dt><dd>8: unannotatable</dd>
  </dl>
  <br />
  <dl>
    <dt class="antecedent"></dt><dd>ctrl-click: antecedent</dd>
    <dt class="contrast1"></dt><dd>alt+ctrl-click: in same contrast group as selected annotatable</dd>
    <dt class="contrast2"></dt><dd>alt+shift-click: in contrast to selected annotatable</dd>
  </dl>
</div>
