<%= stylesheet 'info_statuses' %>

<div class="legend">
  <h3>Legend:</h3>

  <dl>
    <dt class="new"></dt><dd>new</dd>
    <dt class="acc"></dt><dd>acc</dd>
    <dt class="acc-gen"></dt><dd>acc-gen</dd>
    <dt class="acc-disc"></dt><dd>acc-disc</dd>
    <dt class="acc-inf"></dt><dd>acc-inf</dd>
    <dt class="old"></dt><dd>old</dd>
    <dt class="annotatable"></dt><dd>annotatable</dd>
  </dl>
</div>
