<%= stylesheet 'info_statuses' %>

<div class="legend">
  <h3>Legend:</h3>

  <dl>
    <dt class="new"></dt><dd>new</dd>
    <dt class="acc"></dt><dd>acc</dd>
    <dt class="acc-gen"></dt><dd>acc-gen</dd>
    <dt class="acc-disc"></dt><dd>acc-disc</dd>
    <dt class="acc-inf"></dt><dd>acc-inf</dd>
    <dt class="old"></dt><dd>old</dd>
    <dt class="no-info-status"></dt><dd>annotatable (undecided)</dd>
    <dt class="info-unannotatable"></dt><dd>unannotatable</dd>
  </dl>
  <br />
  <dl>
    <dt class="antecedent"></dt><dd>antecedent</dd>
    <dt class="contrast1"></dt><dd>in contrast group 1</dd>
    <dt class="contrast2"></dt><dd>in contrast group 2</dd>
  </dl>
</div>
