<div class="legend">
  <h3>Legend:</h3>

  <dl>
    <dt class="new"></dt><dd>1: new</dd>
    <dt class="kind"></dt><dd>2: kind</dd>
    <dt class="acc-gen"></dt><dd>3: acc-gen</dd>
    <dt class="acc-sit"></dt><dd>4: acc-sit</dd>
    <dt class="acc-inf"></dt><dd>5: acc-inf</dd>
    <dt class="old"></dt><dd>6: old</dd>
    <dt class="old-inact"></dt><dd>7: old-inact</dd>
    <dt class="no-info-status"></dt><dd>8: annotatable (undecided)</dd>
    <dt class="info-unannotatable"></dt><dd>9: unannotatable</dd>
  </dl>
  <br />
  <dl>
    <dt class="quant"></dt><dd>w: quantifier restriction</dd>
    <dt class="non-spec"></dt><dd>x: non-specific</dd>
    <dt class="non-spec-inf"></dt><dd>y: inferred from non-specific</dd>
    <dt class="non-spec-old"></dt><dd>z: non-specific old</dd>
  </dl>
  <br />
  <dl>
    <dt class="contrast1"></dt><dd>a+click: in contrast group <b>a</b></dd>
    <dt class="contrast2"></dt><dd>b+click: in contrast group <b>b</b></dd>
    <dt class="contrast3"></dt><dd>c+click: in contrast group <b>c</b></dd>
    <dt class="contrast4"></dt><dd>d+click: in contrast group <b>d</b></dd>
    <dt class="contrast5"></dt><dd>e+click: in contrast group <b>e</b></dd>
  </dl>
  <br />
  <dl>
    <dt class="antecedent"></dt><dd>ctrl+click (Windows/Linux) or cmd+click (Mac): antecedent</dd>
  </dl>
</div>
