<tr>
  <td><%= link_to(book_completion_ratio.source.title, book_completion_ratio.source) %></td>
  <td><%= book_completion_ratio.book.title %></td>
  <td><%= book_completion_ratio.ratio %>%</td>
</tr>
