/* Site-wide, layout independent stuff */

/* Reset style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus { outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white;
}

/* Font family */

body {
  font-family: sans-serif;
  line-height: 1.4em;
  text-rendering: optimizeLegibility; /* Only matters for FF >= 3 */
}

:lang(chu) {
  font-family: "Kliment Std", "RomanCyrillic Std", "Dilyana", "Menaion", "Menaion Medieval", "Gentium", "Code2000";
}

/* "Typography" */

a { text-decoration: underline; }
a:link { color: #678090; }
a:visited { color: #678090; }
a:link:hover, a:visited:hover { color: #6F9DBE; }

h1 {
  font-weight: bold;
  font-size: 150%;
  margin-top: .5em;
  margin-bottom: .5em;
}

h2 { 
  font-size: 130%; 
  margin-top: .5em;
  margin-bottom: .5em;
}

h3 { font-weight: bold; }

tt { font-family: proportional; }
em { font-style: italic; }
abbr {
  font-stretch: condensed;
  border-bottom: dotted orange 1px;
}

blockquote:before, q:before { content: '\2018'; }
blockquote:after, q:after { content: '\2019'; }
blockquote, q { quotes: "" ""; }

ol { list-style: none; }
ul { list-style: disc; }

dt {
  float: left;
  font-weight: bold;
  padding-right: .5em;
}

dl, ul {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

th[colspan] { text-align: center; }
th { font-weight: bold; }
thead, tfoot { background-color: #f0f0f0; }

/* Generic "text effects" */

.unannotated, .annotated, .reviewed { padding-right: 18px; }
.unannotated { background: transparent url(/images/cm16red.png) no-repeat center right; }
.annotated { background: transparent url(/images/cm16yellow.png) no-repeat center right; }
.reviewed { background: transparent url(/images/cm16green.png) no-repeat center right; }

/* Shared between multiple "widgets" */

.unavailable, .consumed { background: #cccccc; }
.selected { background: #9999ff; }

/* roundedbox */

.roundedbox {
  background-color: #FCF6EF;
  border: solid 2px #F9EDE1;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1% 0 1% 2%;
  -moz-border-radius: 1em;
}

.roundedbox dl { margin-left: 0px; }
.roundedbox dt { font-weight: bold; }

/* Text view */

.chapter-number, .verse-number { color: #678090; }
.sentence-number, .token-number { color: #F7A700; }

.chapter-number {
  font-size: 200%;
  font-weight: bold;
}

.text-view { 
  margin-top: 1em;
  line-height: 1.6em; 
  text-align: justify;
  margin-left: 2em;
  margin-right: 2em;
}

.text-view a:link, .text-view a:visited { color: black; }

/* Tabular */

.tabular form {
  text-align: center;
  padding: 0 0 0 0;
}

/* Search form */

form.search {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

form.search label {
  font-weight: bold;
  width: 0; /* reset */
  float: none; /* reset */
  margin-left: 0.2em;
  margin-right: 0.5em;
}

/* Diffs */

del, ins { text-decoration: none; }
.replaced { background-color: #fd8 }
.added, .added-bg { background-color: #bfb; }
.removed, .removed-bg { background-color: #f88; }
.diff ul { margin-left: 0px; }
table.diff { border: 1px solid gray; }
.diff td { width: 30%; }

/* Layers */

.layer {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1.layer-title { display: inline; }

.layer-content {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* Legends */

div.legend {
 font-size: 75%;
 margin: 1em 0;
 padding: .5em;
 overflow: hidden;
}

.legend h3 { display: none; }

.legend dt {
 border: 1px solid #999;
 float: left;
 margin: .1em .5em .1em 2em;
 width: .8em; height: .8em;
}

.legend dl, .legend dd {
 display: inline;
 float: left;
 padding: 0;
 margin: 0;
 margin-right: .5em;
}

/* Rails kludges */

.actions {
  margin-top: 1em;
  margin-bottom: .5em;
}

.actions form, .actions form div { display: inline; }

form.button-to, .button-to div { display: inline; }

/* Tables with every odd line in a darker background to improve
 * legibility. This does not colour the header row, and to avoid
 * having the header and first non-header highlighted, even rows and
 * not odd rows are coloured. */
table.odd-even-line tr:nth-child(even)
{
  background-color: #E8E8E8;
}

/* Misc. */

.good { color: green; }
.good-bg { background-color: green; }
.average { color: orange; }
.average-bg { background-color: orange; }
.warning, .bad { color: red; }
.bad-bg { background-color: red; }

.relation { text-transform: uppercase; }

a.token {
  color: black;
  text-decoration: none;
}

.highlight {
  font-weight: bold;
  color: orange;
}

.verse-number {
  font-weight: bold;
  font-size: 75%;
}

.sentence-number {
  font-weight: bold;
  font-size: 75%;
}

.token-number {
  vertical-align: sub;
  font-size: 60%;
  color: #6F9DBE;
}

.foreign-word { font-style: italic; } 

.pagination { text-align: center; }

.annotation-actions {
  clear: both;
  text-align: center;
  margin-top: 1em;
}

.lemma { font-style: italic; }

.chart { text-align: center; }

.tag { font-family: Courier, monospace; }

/* Documentation */

p.doc-img { 
  text-align: center;
  padding-top: .5em;
}

/* Statistics */
div.statistics { margin-top: 2em; }
div.statistics img { float: left; }
div.statistics table { width: 50%; float: right; }
div.statistics br { clear: both; }

/* Announcement block */
#announcement {
  margin: 0 0 0 0;
  color: #9F6000;
  border: 1px solid black;
  background: #FEEFB3 url(/images/sweetie/24-tools.png) 10px center no-repeat;
}

#announcement ul {
  list-style: none;
}

/* Low level data tables. */
table.low_level_data {
  width: 90%;
}

table.low_level_data td, th {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

table.low_level_data th {
  border-bottom: 1px solid black;
}

table.low_level_data {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Styled button */
input.styled {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  color: #666;
  background-color: #ccc;
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #818181;
  border-bottom: 1px solid #565656;
  border-left: 1px solid #d7d7d7;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 9px 15px 8px 36px; /* IE6 */
}

input.styled.add {
  background: #ccc url("/images/sweetie/16-circle-green-add.png") no-repeat 15px 50%;
}

input[type].styled {
  padding: 10px 15px 10px 36px; /* Firefox */
  line-height: 17px; /* Safari */
}

*:first-child+html input[type].styled {
  padding: 9px 15px 8px 36px; /* IE7 */
}

input:hover {
  color: #444;
  background-color: #eee;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #969696;
  border-bottom: 1px solid #646464;
  border-left: 1px solid #f2f2f2;
}
