/* Concordance */

.concordance .left {
  width: 30%;
  text-align: right;
}

.concordance .centre {
  padding-left: .5em;
  text-align: center;
  padding-right: .5em;
}

.concordance .right {
  width: 30%;
}
