div.dependencies-image { text-align: center; }
.form { font-style: italic; }
.case { display: none; }

.dependencies .head-dependent-relation-bg { background-color: orange; }
.dependencies .slash-relation-bg { background-color: blue; }

div#words {
  border: 1px solid #ccc;
  text-align: center;
  padding: 3px;
  margin: 1em;
}
div#words input { display: none; }
div#words input + span { padding: .2em .2em .2em .2em; }
div#words input.consumed + span { background: #ccc; color: white; }
div#words input:checked + span { background: #9999ff; color: white; }

/* The proper rule: does not work in IE 6 */
#relations .selected > .user-value { background: #9999ff; }
/* This rule for IE 6 (creates a not so nice "dent" in the selection) */
#relations .selected .user-value { background: #9999ff; }
#relations .selected * .user-value { background: white; }

#cut-buffer { display: none; }

div#palette {
  margin: 1em;
  line-height: 2.5em;
}
div#palette input { display: none; }
div#palette input + span { -moz-border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 6px; color: black; }
div#palette input:checked + span { border-color: #ccc; background: #9999ff; color: white; }
div#palette input:disabled + span { border-color: #ccc; background: #ccc; color: white; }

/* Tree */

ul.tree, ul.tree ul { list-style-type: none; background: url(/images/vline.png) repeat-y; margin: 0; padding: 0; } 
ul.tree ul { margin-left: 10px; } 
ul.tree li { margin: 0; padding: 0 12px; line-height: 20px; background: url(/images/node.png) no-repeat; } 
ul.tree li:last-child { background: #fff url(/images/lastnode.png) no-repeat; }
ul.tree li.last-child { background: #fff url(/images/lastnode.png) no-repeat; } /* IE only */
