div.dependencies-image { text-align: center; }
.form { font-style: italic; }
.case { display: none; }

.dependencies .head-dependent-relation-bg { background-color: orange; }
.dependencies .slash-relation-bg { background-color: blue; }

#palette li, #words li { display: inline; }
#words .word { padding: .15em .15em .15em .15em; }

/* The proper rule: does not work in IE 6 */
#relations .selected > .user-value { background: #9999ff; }
/* This rule for IE 6 (creates a not so nice "dent" in the selection) */
#relations .selected .user-value { background: #9999ff; }
#relations .selected * .user-value { background: white; }

#cut-buffer { display: none; }
