/* Palette */
.bad-field-value { border: red 2px solid; }

/* Items */
.morphtags .item {
  float: left;
  padding: .15em .15em .15em .15em;
  margin-left: .10em;
  margin-right: .10em;
  margin-bottom: 1em;
  text-align: center;
  border: white 1px solid; /* This prevents redraws of items when selected. */
}

.morphtags .form, .morphtags .pos, .morphtags .morphology {
  margin: 0em;
  padding: 0em 0.5em;
  text-align: center;
}

.morphtags .form {
  font-weight: bold;
}

.morphtags .morphology {
  font-size: small;
}

.morphtags .selected { 
  background-color: #eeeeee;
  border: #c0c0c0 1px solid;
}

.morphtags .validation-error {
  border: red 2px solid;
}

.morphtags #palette {
  text-align: left;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 1em;
}

.morphtags br { clear: both; }

.mannotated { color: green; }
.munambiguous { color: orange; }
.mambiguous { color: red; }
.mannotated-bg { background-color: green; }
.munambiguous-bg { background-color: orange; }
.mambiguous-bg { background-color: red; }
