/* Print specific stuff */

div#headline {
  font-weight: bold;
  font-variant: small-caps;
}

div#navbar { display: none; }

div#footer {
  clear: both;
  margin: 1cm 0 0 0;
  font-size: smaller;
}

a { text-decoration: underline; }

.actions, .pagination { display: none; }
