/* Print specific stuff */

div#headline {
  font-weight: bold;
  font-style: small-caps;
}

div#navbar { display: none; }

div#footer {
  clear: both;
  margin: 1cm 0 0 0;
  font-size: smaller;
}

a { text-decoration: underline; }

.text-view {
  margin-left: 0em;
  margin-right: 0em;
}

.text-view a { text-decoration: none; }

.actions, .pagination { display: none; }
