/* Reset style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
   outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after { content: ""; }

blockquote, q { quotes: "" ""; }

/* Font settings and language settings */

body {
  font-family: sans-serif;
}

:lang(cu) {
  font-family: "Dilyana", "Menaion", "Menaion Medieval", "Lazov", "Lucida Grande", "Arial Unicode MS", "Gentium", "Code2000", "Lucida Sans Unicode";
}

/* "PROIEL" layout */

body { line-height: 1.4em; }

dt {
  float: left;
  font-weight: bold;
  padding-right: .5em;
}

a { text-decoration: underline; }

a:link { color: #678090; }
a:visited { color: #678090; }
a:link:hover, a:visited:hover { color: #6F9DBE; }

dl.details dt {
  width: 15em;
  background-color: #f0f0f0;
  margin-right: .5em;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  margin-top: .5em;
  margin-bottom: .5em;
}

h2 { 
  font-size: 130%; 
  margin-top: .5em;
  margin-bottom: .5em;
}

h3 { font-weight: bold; }

tt { font-family: proportional; }
em { font-style: italic; }
q:before { content: '\2018'; }
q:after { content: '\2019'; }

div#headline {
  height: 100px;
  background-color: #F7A700;
  background-image: url('/images/proiel.png');
  background-repeat: no-repeat;
  color: #585858;
  font-weight: bold;
  font-style: small-caps;
}

div#navbar, div#navbar a {
  color: #FFFFD8;
  background-color: #678090;
}

div#navbar {
  border-top: 2px solid #678090;
  border-bottom: 2px solid #678090;
  padding: 1px 20px 1px 20px;
}

div#navbar a { text-decoration: none; }

div#navbar .current, div#navbar a {
  padding: 1px 4px 1px 4px;
}

div#navbar a:hover { color: #F9CA69; }

div#navbar a:link, div#navbar a:visited, div#navbar a:active {
}

div#footer {
  clear: both;
  margin: 1cm 0 0 0;
  padding: 5px 30px 5px 1em;
  border-top: 1px solid #ABABAB;
  font-size: smaller;
}

div#body {
  margin: 0 1em 0 1em;
  padding: 5px 5px 5px 5px;
}

dl, ul {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul { list-style: disc; }

.book-name, .chapter-number, .verse-number {
  color: #678090;
}

a.sentence-number, .token-number {
  color: #F7A700;
}

/* Rounded info boxes */

.roundedbox {
  background-color: #FCF6EF;
  border: solid 2px #F9EDE1;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1% 0 1% 2%;
  -moz-border-radius: 1em;
}

.roundedbox dl { margin-left: 0px; }
.roundedbox dt { font-weight: bold; }

/* Tables */

table {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-spacing: 0;
}

th { text-align: left; }

th[colspan] { text-align: center; }

thead, tfoot { background-color: #f0f0f0; }

/* "Widgets": palette */
 
ul.palette { margin: 0; padding: 0; border: 1px solid #999; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; }
*:first-child+html ul.palette { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.palette li { float: left; list-style-type: none; margin: 0 5px 4px 0; }
ul.palette li.box { -moz-border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
ul.palette li.selected { border-color: #598BEC; background: #598BEC; color: white; }
ul.palette abbr { border: none; } /* the dotted abbr default does not look good in palettes */

/* "Widgets": tree */

ul.tree, ul.tree ul { list-style-type: none; background: url(/images/vline.png) repeat-y; margin: 0; padding: 0; } 
ul.tree ul { margin-left: 10px; } 
ul.tree li { margin: 0; padding: 0 12px; line-height: 20px; background: url(/images/node.png) no-repeat; } 
ul.tree li:last-child { background: #fff url(/images/lastnode.png) no-repeat; }
ul.tree li.last-child { background: #fff url(/images/lastnode.png) no-repeat; } /* IE only */

/* Labelled forms */

form {
  padding: 1em 1em 1em 1em;
}

form label {
  width: 15em; /* Bad, but necessary if text scaling is to work. */
}

/* browse */

.text-view { 
  margin-top: 1em;
  line-height: 1.6em; 
  text-align: justify;
  margin-left: 2em;
  margin-right: 2em;
}

/* Use a more book-like drop caps rendering of the chapter number in the text view. */
.text-view .chapter-number {
  float: left;
  font-family: Georgia, serif;
  font-size: 300%;
  line-height: 0.97em;
  margin-right: 0.07em;
  margin-bottom: -0.25em;
}


/* tabular pages {lemmata, user}::index */

.tabular .pagination {
  text-align: center;
}

.tabular form {
  text-align: center;
  padding: 0 0 0 0;
}

/* Search form */

form.search {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

form.search label {
  font-weight: bold;
  width: 0; /* reset */
  float: none; /* reset */
  margin-left: 0.2em;
  margin-right: 0.5em;
}
/* This is supposed to cover all site-wide CSS that is independent of
 * "theme" */

/* Global stuff to be inherited everywhere. */
body {
  text-rendering: optimizeLegibility; /* Only matters for FF >= 3 */
}

/* Link decorations */

a[href $='.pdf'] { 
  padding-right: 18px;
  background: transparent url(/images/icon_pdf.gif) no-repeat center right;
}

a[href ^="mailto:"] {
   padding-right: 20px;
   background: transparent url(/images/icon_mail.gif) no-repeat center right;
}

a[class ~="popup"] {
   padding-right: 18px;
   background: transparent url(/images/icon_popup.gif) no-repeat center right;
}

a[class ~="external"] {
   padding-right: 18px;
   background: transparent url(/images/icon_external.gif) no-repeat center right;
}

/* Completion rates */

.unannotated {
  padding-right: 18px;
  background: transparent url(/images/cm16red.png) no-repeat center right;
}

.annotated {
  padding-right: 18px;
  background: transparent url(/images/cm16yellow.png) no-repeat center right;
}

.reviewed {
  padding-right: 18px;
  background: transparent url(/images/cm16green.png) no-repeat center right;
}

/* Diffs */

del, ins {
  text-decoration: none;
}

.replaced { background-color: #fd8 }
.added, .added-bg { background-color: #bfb; }
.removed, .removed-bg { background-color: #f88; }

.diff ul {
  margin-left: 0px;
}

table.diff {
  border: 1px solid gray;
}

.diff td {
  width: 30%;
}

/* "Layers" */

.layer {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1.layer-title { 
  display: inline;
  display: inline;
}

.layer-content {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* Legends */

div.legend {
 font-size: 75%;
 margin: 1em 0;
 padding: .5em;
 overflow: hidden;
}

.legend h3 { display: none; }

.legend dt {
 border: 1px solid #999;
 float: left;
 margin: .1em .5em .1em 2em;
 width: .8em; height: .8em;
}

.legend dl, .legend dd {
 display: inline;
 float: left;
 padding: 0;
 margin: 0;
 margin-right: .5em;
}

/* Fancy tool-tips */

span.tool {
  position: relative;
  cursor: help;
}
 
span.tool span.tip {
  display: none;
}
 
span.tool:hover span.tip {
  display: block;
  z-index: 100;
  position: absolute;
  top: 2.5em;
  left: 0;
  width: auto;
  line-height: 1.2em;
  padding: 3px 7px 4px 6px;
  border: 1px solid #336;
  background-color: #f7f7ee;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  text-align: left;
}

#content span.tool::after {
  padding-left: 2px;
  content: url(/images/bubble.gif);
}

/* Rails kludges */

.actions {
  margin-top: 1em;
  margin-bottom: .5em;
}

.actions form, .actions form div {
  display: inline;
}

form.button-to, .button-to div {
  display: inline;
}

/* Error messages */

#error {
  background: pink;
  padding: .5em;
  border: 1px solid gray;
  width: 100%;
}

#notice {
  background: lime;
  padding: .5em;
  border: 1px solid gray;
}

/* Misc. */

.good { color: green; }
.good-bg { background-color: green; }
.average { color: orange; }
.average-bg { background-color: orange; }
.warning, .bad { color: red; }
.bad-bg { background-color: red; }

.odd {
  background: #f0f0f0;
}

.even {
  background-color: white;
}

abbr {
  font-stretch: condensed;
  border-bottom: dotted orange 1px;
}

.relation { text-transform: uppercase; }

a.token {
  color: black;
  text-decoration: none;
}

.focused {
  font-weight: bold;
}

.book-name {
}

.chapter-number {
  font-weight: bold;
}

.verse-number {
  font-weight: bold;
  font-size: 75%;
}

.sentence-number {
  font-weight: bold;
  font-size: 75%;
}

.token-number {
  vertical-align: sub;
  font-size: 60%;
  color: #6F9DBE;
}

.reference {}

.language {}

.foreign-word { font-style: italic; } 

.pagination { text-align: center; }

.annotation-actions {
  clear: both;
  text-align: center;
  margin-top: 1em;
}

.lemma { font-style: italic; }

.chart { text-align: center; }

/* Tabs */

ul.tabs {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
	border-bottom:1px solid #ccc;
	height:20px;
	clear:both;
}

ul.tabs li {
	float:left;
	margin-right:7px;
	text-align:center;
}

ul.tabs li a {
	display:block;
	height:20px;
	padding:0 6px 0 6px;
	background-color:#fff;
	color:#666;
	width:80px;
}

ul.tabs li a:hover {
	color:#666;
}

ul.tabs li a.active {
	background-color:#ddd;
}

