/* Table of contents. */
ul.toc {
  list-style: none;
  width: 95%;
}
ul.toc ul.toc-l2 {
  list-style: none;
}
ul.toc .toc-language {
  font-weight: bold;
}
ul.toc ul.toc-l2 li {
  background: url(/images/purple/toc-dots.png)
  repeat-x 0 1em;
  height: 1.2em;
  margin-top: .2em;
}
ul.toc ul.toc-l2 .toc-title {
  font-style: italic;
  float: left;
  background: #FFF;
  padding: 0 .75em 0 0;
}
ul.toc ul.toc-l2 .toc-link {
  float: right;
  background: #FFF;
  padding 0 0 0 .75em;
}
ul.toc ul.toc-l2 li {
  clear: both;
}
