/* Screen specific stuff */

/* Header */

div#headline {
  height: 100px;
  background-color: #F7A700;
  background-image: url('/images/proiel.png');
  background-repeat: no-repeat;
  color: #585858;
  font-weight: bold;
  font-variant: small-caps;
}

/* Navigation bars */

div.navbar, div.navbar a {
  color: #FFFFD8;
}

div#user-navbar, div#user-navbar a {
  background-color: #678090;
}

div#admin-navbar, div#admin-navbar a {
  background-color: #872020;
}

div.navbar {
  border-top: 1px solid black;
  padding: 3px 20px 3px 20px;
}

div.navbar a { text-decoration: none; }

div.navbar .current, div.navbar a { padding: 1px 4px 1px 4px; }

div.navbar a:hover { color: #F9CA69; }

div.navbar a:link, div.navbar a:visited, div.navbar a:active { }

/* Footer */

div#footer {
  clear: both;
  margin: 1cm 0 0 0;
  padding: 5px 30px 5px 1em;
  border-top: 1px solid #ABABAB;
  font-size: smaller;
}

/* Contents */

div#body {
  margin: 0 1em 0 1em;
  padding: 5px 5px 5px 5px;
}

/* Navigation and operation decorations */

a.previous {
  padding-left: 24px;
  background: transparent url(/images/sweetie/24-arrow-previous.png) no-repeat center left;
  margin-right: 1em;
}

a.next {
  padding-left: 24px;
  background: transparent url(/images/sweetie/24-arrow-next.png) no-repeat center left;
  margin-right: 1em;
}

a.index {
  padding-left: 24px;
  background: transparent url(/images/sweetie/24-columns.png) no-repeat center left;
  margin-right: 1em;
}

a.statistics {
  padding-left: 24px;
  background: transparent url(/images/sweetie/24-message-info.png) no-repeat center left;
  margin-right: 1em;
}

a.delete {
  padding-left: 24px;
  background: transparent url(/images/sweetie/24-em-cross.png) no-repeat center left;
  margin-right: 1em;
}

a.edit {
  padding-left: 24px;
  background: transparent url(/images/sweetie/24-settings-silver.png) no-repeat center left;
  margin-right: 1em;
}

a.remove {
  padding-left: 16px;
  background: transparent url(/images/sweetie/16-circle-red-remove.png) no-repeat center left;
  margin-right: 1em;
}

a.add {
  padding-left: 16px;
  background: transparent url(/images/sweetie/16-circle-green-add.png) no-repeat center left;
  margin-right: 1em;
}

a.new {
  padding-left: 16px;
  background: transparent url(/images/sweetie/16-em-plus.png) no-repeat center left;
  margin-right: 1em;
}

a.parent {
  padding-left: 24px;
  background: transparent url(/images/sweetie/24-em-up.png) no-repeat center left;
  margin-right: 1em;
}

/* Link target decorations */

a[href $='.pdf'] { 
  padding-right: 18px;
  background: transparent url(/images/iconize/icon_pdf.gif) no-repeat center right;
}

a[href ^="mailto:"] {
  padding-right: 20px;
  background: transparent url(/images/iconize/icon_mail.gif) no-repeat center right;
}

a[class ~="popup"] {
  padding-right: 18px;
  background: transparent url(/images/iconize/icon_popup.gif) no-repeat center right;
}

a[class ~="external"] {
  padding-right: 18px;
  background: transparent url(/images/iconize/icon_external.gif) no-repeat center right;
}
