/* Screen specific, layout dependent stuff */

/* Header */

div#headline {
  height: 100px;
  background-color: #F7A700;
  background-image: url('/images/proiel.png');
  background-repeat: no-repeat;
  color: #585858;
  font-weight: bold;
  font-style: small-caps;
}

/* Navigation bar */

div#navbar, div#navbar a {
  color: #FFFFD8;
  background-color: #678090;
}

div#navbar {
  border-top: 2px solid #678090;
  border-bottom: 2px solid #678090;
  padding: 1px 20px 1px 20px;
}

div#navbar a { text-decoration: none; }

div#navbar .current, div#navbar a { padding: 1px 4px 1px 4px; }

div#navbar a:hover { color: #F9CA69; }

div#navbar a:link, div#navbar a:visited, div#navbar a:active { }

/* Footer */

div#footer {
  clear: both;
  margin: 1cm 0 0 0;
  padding: 5px 30px 5px 1em;
  border-top: 1px solid #ABABAB;
  font-size: smaller;
}

/* Contents */

div#body {
  margin: 0 1em 0 1em;
  padding: 5px 5px 5px 5px;
}

/* Link decorations */

a { text-decoration: underline; }
a:link { color: #678090; }
a:visited { color: #678090; }
a:link:hover, a:visited:hover { color: #6F9DBE; }

/* Link target decorations */

a[href $='.pdf'] { 
  padding-right: 18px;
  background: transparent url(/images/iconize/icon_pdf.gif) no-repeat center right;
}

a[href ^="mailto:"] {
  padding-right: 20px;
  background: transparent url(/images/iconize/icon_mail.gif) no-repeat center right;
}

a[class ~="popup"] {
  padding-right: 18px;
  background: transparent url(/images/iconize/icon_popup.gif) no-repeat center right;
}

a[class ~="external"] {
  padding-right: 18px;
  background: transparent url(/images/iconize/icon_external.gif) no-repeat center right;
}
