.tabs {
  width: 90%;
  font-size: 93%;
  line-height: normal;
}

.tabs ul {
  margin: 0;
  padding: 10px 10px 0 0;
  list-style: none;
}

.tabs li {
  display: inline;
  margin: 0;
  padding: 0;
}

.tabs a {
  float: left;
  background: url("/images/tabsleft.gif") no-repeat left top;
  margin: 0;
  padding: 0 0 0 4px;
  text-decoration: none;	
  background-position: 0% -42px;
}

.tabs a span {
  font: bold 10px/1.5em Verdana;
  display: block;
  float: left;
  background: url("/images/tabsright.gif") no-repeat right top;
  padding: 5px 15px 4px 6px;
  color: #FFF;	
  background-position: 100% -42px;
}

.tabs a:hover span {
  color: #FFF;
}

.tabs a:hover, .tabs .selected a  {
  background-position: 0% 0px;
}

.tabs a:hover span, .tabs .selected a span  {
  background-position: 100% 0px;
}

.layer{
  border: 1px solid #bcd2e6;
  padding: 1em;
}
