<% search_form_tag users_path do %>
  <label>User name</label><%= text_field_tag :login, params[:login] %>
<% end %>

<%= render_tabular @users, :pagination => true,
  :fields => [ 'User name', 'Name', 'Role', 'State' ] %>
