- title 'Users'
- breadcrumbs ['Home', root_path], 'Users'

.tabular
  != paginate @users

  %table.table
    %thead
      %tr
        %th User name
        %th Full name
        %th E-mail address
        %th Role

    %tbody
      != render @users
