.tabular
  != paginate @users

  %table.ui.table.segment
    %thead
      %tr
        %th User name
        %th Full name
        %th E-mail address
        %th Role

    %tbody
      != render @users
