<div class="roundedbox">
  <b><%=h sentence.citation %></b> <%= readable_completion(sentence, :checkmark => :only) %><br/>
  <%= external_text_links(sentence) %><br/>
  <%= link_to_source(@sentence.source_division.source) %>
</div>
