<p>
This site uses the <a href="http://sweetie.sublink.ca/">Sweetie</a> icons by Joseph North (<a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a>), the <a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icon Set</a> by Mark James (<a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution License</a>), <a href="http://pooliestudios.com/projects/iconize/">Iconize</a> by Alexander Kaiser and Mark James (<a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution License</a>), and
<a nref="http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960">Knob Buttons Toolbar icons</a>. The PROIEL logo is Copyright © Marius L. Jøhndal, 2007, 2008. All rights reserved.
</p>
