<h1>Licensing and attributions</h1>

<p>
The text and all data on this site is released under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0</a> license. Please see <a href="/sources">each individual source</a> for further details and attributions.
</p>

<p>
This application is Copyright 2007, 2008 University of Oslo, Marius L. Jøhndal, Anders Nøklestad and Dag Haug, and released under
the GNU General Public License version 2.
</p>

<p>
  The TEI headers are styled using a stylesheet derived from <a href="http://www.wulfila.be/res/style/xslt/teiheader.xsl">this stylesheet</a> written by Tom De Herdt of the <a href="http://www.wulfila.be">Wulfila Project</a>.
</p>

<p>
  The icons on the site are taken from thh following collections:
</p>

<ul>
  <li><a href="http://sweetie.sublink.ca/">Sweetie</a> icons by Joseph North (<a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a>)</li>
  <li><a href="http://pooliestudios.com/projects/iconize/">Iconize</a> by Alexander Kaiser and Mark James (<a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution License</a>)</li>
</ul>

<p>
  The PROIEL logo is Copyright © Marius L. Jøhndal, 2007, 2008. All rights reserved.
</p>
