<h1>Font setup</h1>

<h2>Old Church Slavonic</h2>

<p>
  Correct rendering of the script used for Old Church Slavonic can be a bit tricky. 
  The Unicode standard, which is the most commonly used standard for encoding
  the world's writing systems nowadays, was for a long time
  inadequate for the purposes of unambiguously encoding Old Church Slavonic.
  This was rectified in April 2008 with the release of Unicode 5.1, 
  and our Old Church Slavonic text takes these standard changes into acoount.
  For correct rendering, you will therefore need a font that
  supports the characters included in Unicode 5.1. If you see boxes instead of
  characters like in the picture below, you will need to install a new font.
  We currently recommend <a href="http://kodeks.uni-bamberg.de/AKSL/Schrift/RomanCyrillicStd.htm">RomanCyrllic Std</a>.
</p>

<p class="doc-img">
  <img src="/images/help-bad-fonts.png"></img>
</p>
