%h1
  Application help

%h2
  User guides

%ul
  %li
    !=link_to "Keyboard short-cuts", page_path('short_cuts')
  %li
    !=link_to "Guidelines for syntactic annotation", "http://folk.uio.no/daghaug/syntactic_guidelines.pdf"
  %li
    !=link_to "Font setup", page_path('fonts')
  %li
    !=link_to "Attributions", page_path('attributions')
