<h1>Contents</h1>

<ul>
  <li><a href="#access-keys">Access Keys</a></li>
  <li><a href="#searching">Searching</a></li>
  <li><a href="#fonts">Fonts</a></li>
  <li><a href="#documentation">Documentation</a></li>
</ul>

<h2 id="access-keys">Access keys</h2>

Using access keys you can quickly navigate directly to a specific page or part
of a page using the keyboard. In most browsers you will have to hold down the
<abbr title="Control">Ctrl</abbr> and <abbr>Alt</abbr> keys and simultaneously press
one of the access keys listed below. If this does not work in your browser,
you can see if <a href="http://en.wikipedia.org/wiki/Access_keys">the Wikipedia
page on Access keys</a> explains the procedure for your browser. 

The following access keys are available throughout the site:
<dl>
  <dt>1</dt><dd>Navigate to Home page</dd>
  <dt>6</dt><dd>Open the Help window</dd>
  <dt>R</dt><dd>Navigate to Preferences page</dd>
  <dt>S</dt><dd>Navigate to Search page</dd>
  <dt>T</dt><dd>Navigate to Text page</dd>
</dl>

For all pages that present information on a per-sentence basis, the following
access keys are also available:
<dl>
  <dt>P</dt><dd>Navigate to page for previous sentence</dd>
  <dt>N</dt><dd>Navigate to page for next sentence</dd>
</dl>

<h2 id="location-references">Location references</h2>

</h2>

<h2 id="flags">Annotation flags</h2>
<p>
<img src="/images/help-annotation-flags.png"></img>
</p>
</h2>

<h2 id="searching">Searching</h2>

<p>
The search box in the navigation bar allows rapid access to simple
query results.</p>

<p>
<img src="/images/help-searching.png"></img>
</p>

<p>
The search box accepts the following types of searches:
</p>

<dl>
  <dt>Word forms and lemmata</dt><dd>By entering a single word, the database
  will be queried for all word forms and lemmata matching the given word. The
  match does not have to be exact; any substring will match.</dd>
  <dt>Sentence annotations</dt><dd>By entering digits only, the search
  box will take you directly to the Annotation page for the sentence
  with the given ID.</dd>
  <dt>Text passages</dt><dd>By entering a text reference on the form <tt>Source Book Chapter</tt>, 
  e.g. <tt>Tisch Mark 3</tt>, you will be taken to the
  Text page for that location in the text.</dd>
</dl>

<h3>Quick searches</h3>

<p>
If you are using Firefox, you can also perform searches directly from the
browser. To enable this feature, navigate to one of the PROIEL pages, and look for the
PROIEL icon in the Search Engine list in Firefox. You can now perform searches simply by
selecting PROIEL as your current search engine and entering the search terms in the Search Engine
bar.
</p>
<p style="text-align: center">
  <img src="/images/help-plugin.png"></img>
</p>

<h2 id="fonts">Fonts for Old Church Slavonic</h2>

<p>
  Correct rendering of the script used for Old Church Slavonic can be a bit tricky. 
  The Unicode standard, which is the most commonly used standard for encoding
  the world's writing systems nowadays, was for a long time
  inadequate for the purposes of unambiguously encoding Old Church Slavonic.
  This was rectified in April 2008 with the release of Unicode 5.1, 
  and our Old Church Slavonic text takes these standard changes into acoount.
  For correct rendering, you will therefore need a font that
  supports the characters included in Unicode 5.1. If you see boxes instead of
  characters like in the picture below, you will need to install a new font.
  We currently recommend <a href="http://kodeks.uni-bamberg.de/AKSL/Schrift/RomanCyrillicStd.htm">RomanCyrllic Std</a>.
</p>

<img src="/images/help-bad-fonts.png"></img>
  
<h2 id="documentation">Documentation</h2>

<ul>
  <li><a href="/doc/guidelines.pdf">Guidelines for syntactic annotation</a></li>
  <% if current_user.has_role?(:reviewer) %>
    <li><a href="/doc/app/">Application reference</a></li>
    <li><a href="/morphology.xml">Morphology tagset</a></li>
    <li><a href="/relations.xml">Relations tagset</a></li>
    <li><a href="/inferences.yml">Relation inferences</a></li>
  <% end %>
</ul>

