<h1>Application help</h1>

<ul>
  <li><%= link_to "Searching", site_path('searching') %></li>
  <li><%= link_to "Keyboard short-cuts", site_path('short_cuts') %></li>
  <li><a href="http://www.hf.uio.no/ifikk/proiel/publications/guidelines.pdf">Guidelines for syntactic annotation</a></li>
  <li><%= link_to "Font setup", site_path('fonts') %>
  <li><%= link_to "Downloadable data", site_path('public_data') %>
</ul>
