<h1>Searching</h1>

<p>
The search box in the navigation bar allows rapid access to simple
query results.</p>

<p class="doc-img">
  <img src="/images/help-searching.png"></img>
</p>

<p>
The search box accepts the following types of searches:
</p>

<dl>
  <dt>Word forms and lemmata</dt><dd>By entering a single word, the database
  will be queried for all word forms and lemmata matching the given word. The
  match does not have to be exact; any substring will match.</dd>
  <dt>Sentence annotations</dt><dd>By entering digits only, the search
  box will take you directly to the Annotation page for the sentence
  with the given ID.</dd>
  <dt>Text passages</dt><dd>By entering a text reference on the form <tt>Source Book Chapter</tt>, 
  e.g. <tt>Tisch Mark 3</tt>, you will be taken to the
  Text page for that location in the text.</dd>
</dl>

<h2>Quick searches</h2>

<p>
If you are using Firefox, you can also perform searches directly from the
browser. To enable this feature, navigate to one of the PROIEL pages, and look for the
PROIEL icon in the Search Engine list in Firefox. You can now perform searches simply by
selecting PROIEL as your current search engine and entering the search terms in the Search Engine
bar.
</p>

<p class="doc-img">
  <img src="/images/help-plugin.png"></img>
</p>
