<tr>
  <td class="user"><%= true ||link_to_user(audit.user) %></td>
  <td class="timestamp"><%= audit.created_at %></td>
  <td><%= link_to_auditable(audit.auditable) %></td>

  <td><%= link_to 'Details', audit %></td>
</tr>
