<% if diff.action == 'destroy' %>
  Removed
<% else %>
  <table class="diff">
    <% diff.changes.each do |attribute, values| %>
      <tr><%= format_change(attribute, *values) %></tr>
    <% end %>
  </table>
<% end %>
