- if params[:sentence_id]
  Showing changes relating to sentence
  != params[:sentence_id]
- elsif params[:user_id]
  Showing changes by user
  != @user.login

!= paginate @audits

!= render partial: 'audits/summary', collection: @audits
