- if params[:sentence_id]
  Showing changes relating to sentence
  != params[:sentence_id]
- elsif params[:user_id]
  Showing changes by user
  != @user.login

.tabular
  != paginate @audits

  %table.ui.table.segment
    %thead
      %tr
        %th Created by
        %th Created at
        %th Changed object

    %tbody
      != render @audits
