<% search_form_tag changesets_path do %>
  <label>User</label><%= user_select_tag :user_id, params[:user_id], :include_blank => true %>
<% end %>
  
<%= render_tabular @changesets, :pagination => true,
  :fields => [ 'User', 'Created at', '&nbsp;' ] %>
