<tr>
  <td><%= link_to_source(source_division.source) %></td>
  <td><%=h source_division.title %> <%= show_completion_rate(source_division.completion, :checkmark => :only) %></td>
  <td><%= link_to 'Details', source_division %></td>
</tr>
