<tr>
  <td><%= link_to_semantic_tag_taggable(semantic_tag.taggable) %></td>
  <td><%= readable_semantic_attribute_value(semantic_tag.semantic_attribute, semantic_tag.semantic_attribute_value, params[:query]) %></td>
</tr>
