<div class="roundedbox">
  <dl>
    <dt>Reference:</dt><dd><%= link_to_semantic_tag_taggable(@semantic_tag.taggable) %></dd>
    <dt>Attribute value:</dt><dd><%= readable_semantic_attribute_value(@semantic_tag.semantic_attribute,
                                                                       @semantic_tag.semantic_attribute_value) %></dd>
  </dl>
  <%= link_to 'Index', semantic_tags_url, :class => :index %>
  <%= link_to 'Delete', @semantic_tag, :method => :delete, :confirm => 'Are you sure?', :class => :delete %>
</div>
