<tr>
  <td><%= readable_reference(annotation.reference) %></td>
  <td><%= readable_completion(annotation, :checkmark => true) %></td>
  <td><%= link_to 'Details', annotation_path(annotation) %></td>
</tr>
