<% search_form_tag annotations_path do %>
  <label>Source</label><%= source_select_tag :source_id, params[:source_id], :include_blank => true %>
<% end %>

<%= render_tabular @sentences, [ 'Location', 'Sentence', '&nbsp;' ], :partial => 'annotation' %>
