/* Classes for information status values */
.new {
   background-color: yellow;
   color: black;
}
.kind {
   background-color: blue;
   color: white;
}
.quant {
   background-color: black;
   color: white;
}
.acc-gen {
   background-color: green;
   color: white;
}
.acc-sit {
   background-color: red;
   color: white;
}
.acc-inf {
   background-color: magenta;
   color: black;
}
.old {
   background-color: brown;
   color: white;
}
.old-inact {
   background-color: pink;
   color: black;
}

.non-spec {
    background-color: aqua;
    color: black;
}

.non-spec-inf {
    background-color: navy;
    color: white;
}

.non-spec-old {
    background-color: olive;
    color: black;
}


/* Other stuff */

/*
.info-annotatable {
   border: 2px solid white;
}
*/
.info-unannotatable {
/*   border: 2px solid white; */
   background-color: white;
   color: black;
}
.info-changed {
   border: 2px solid black !important;
}
.info-selected {
   border: 2px dashed black !important;
}
.no-info-status {
   background-color: #c1c1c1;
   color: black;
}
.prodrop-menu-item {
   padding-left: 3px;
   font-size: 75%;
   background-color: #e5dac8;
   border: 1px solid black;
   cursor: pointer;
}
.sentence-divisions span {
   padding: 1px;
   line-height: 210%;
}
.sentence-divisions span[id][lang] {
   border: 2px solid white;
}
.antecedent {
   border: 2px solid blue !important;
}
.contrast1 {
   border: 2px solid green !important;
}
.contrast2 {
   border: 2px solid red !important;
}

/* Classes for contrast groups */
.contrast1 {
   border: 2px solid yellow !important;
}
.contrast2 {
   border: 2px solid green !important;
}
.contrast3 {
   border: 2px solid red !important;
}
.contrast4 {
   border: 2px solid magenta !important;
}
.contrast5 {
   border: 2px solid brown !important;
}
