////////////////////////////////////////////////////////////////
// General colour scheme
////////////////////////////////////////////////////////////////

$fg:            black
$bg:            white

$header:        black
$link:          #900
$hover:         #900

$boxbg:         darken($bg, 10%)
$boxfg:         $fg
$boxborder:     darken($bg, 20%)

$disabled:      #aaaaaa
$disabledboxfg: $fg
$disabledboxbg: $disabled

$selected:      orange
$selectedboxfg: $fg
$selectedboxbg: $selected

/* Shared between multiple "widgets" */

.unavailable, .consumed
  background: #cccccc
.selected
  background: #9999ff

/* Tabular */

.tabular form
  text-align: center
  padding: 0 0 0 0

/* Misc. */

.relation
  text-transform: uppercase

a.token
  color: black
  text-decoration: none

.annotation-actions
  clear: both
  text-align: center
  margin-top: 1em

.lemma
  font-style: italic

.tag
  font-family: Courier, monospace

////////////////////////////////////////////////////////////////
// Page layout
////////////////////////////////////////////////////////////////

abbr
  font-stretch: condensed
  border-bottom: dotted orange 1px

#context-bar
  margin: 1em 3em 1em 3em
  padding: 1em 1em 1em 1em
  color: $boxfg
  background-color: $boxbg
  border: 1px solid $boxborder
  -moz-border-radius: 1em
  -webkit-border-radius: 1em
  border-radius: 1em

  .resources
    display: inline
    float: right

// Completion icons

=completion-icon($icon)
  padding-right: 16px
  background-color: transparent
  background-image: image_url($icon)
  background-repeat: no-repeat
  background-attachment: center
  background-position: right

.reviewed
  +completion-icon('cm16green.png')

.annotated
  +completion-icon('cm16yellow.png')

.unannotated
  +completion-icon('cm16red.png')

////////////////////////////////////////////////////////////////
// 'Typography'
////////////////////////////////////////////////////////////////

.highlight
  color:       $selected
  font-weight: bold

.roundedbox
  color: $boxfg
  background-color: $boxbg
  border: solid 1px $boxborder
  margin: 1em 1em 1em 1em
  padding: 0.5% 0 0.5% 0.5%
  -moz-border-radius: 1em

.roundedbox dl
  margin-left: 0px

.roundedbox dt
  font-weight: bold

////////////////////////////////////////////////////////////////
// Statistics
////////////////////////////////////////////////////////////////

.statistics
  margin-top: 2em
  img
    float: left
  table
    width: 50%
    float: right
  br
    clear: both

////////////////////////////////////////////////////////////////
// Legends
////////////////////////////////////////////////////////////////

.legend
  font-size: 75%
  margin: 1em 0
  padding: 0.5em
  overflow: hidden
  h3
    display: none
  dl
    display: block
  dt
    border: solid 1px $boxborder
    float: left
    margin: 0.1em 0.5em 0.1em 2em
    width: 0.8em
    height: 0.8em
  dd, dl
    display: inline
    float: left
    padding: 0
    margin: 0
    margin-right: 0.5em

// Morphology editing
.morphology-view
  .form
    font-style: italic
    font-weight: bold
  .msd
    font-size: small
  .lemma
    font-style: italic
  .gloss
    font-style: italic

.morphology-view.interlinear
  table, tr
    display: inline
  tr
    float: left
    margin: 0.5em 0.1em 0.5em 0.1em
    padding: 0.15em
    border: 1px solid white
    background-color: white // override from above
  tr.selected
    background-color: #eeeeee
    border: #c0c0c0 1px solid
  td
    display: block
    margin: 0em
    padding: 0em 0.5em
    text-align: center

  tr[data-status="annotated"]
    color: green
  tr[data-status="unambiguous"]
    color: orange
  tr[data-status="ambiguous"]
    color: red
  td.form
    color: black

.morphology-view.colour-coded
  tr
    border-bottom: 3px solid white
  tr[data-major-pos="N"]
    border-bottom-color: red
  tr[data-major-pos="V"]
    border-bottom-color: green
  tr[data-major-pos="C"]
    border-bottom-color: blue
  tr[data-major-pos="D"]
    border-bottom-color: yellow
  tr[data-major-pos="P"]
    border-bottom-color: purple

  .todo-bad-field-value
    border: red 2px solid
  .todo-validation-error
    border: red 2px solid

.mannotated-bg
  background-color: green
.munambiguous-bg
  background-color: orange
.mambiguous-bg
  background-color: red

/* Wizard */
.button-row
  margin-top: 2em
  text-align: center
  form
    margin-left: 2em
    margin-right: 2em
  form, div, input[type='submit']
    display: inline

/* Tokenization */
div.tokenization
  border: 1px solid black
  padding: 1em 1em 1em 1em
  margin-top: 1em
  line-height: 3em
  display: block

div.tokenization span.w
  border: 1px solid grey
  padding: .25em .25em .25em .25em
  margin: 0

// Typeahead
.typeahead
  .wrapper
    position: relative
    i.fa
      position: absolute
      top: 10px
      left: -50px
  ul
    position: absolute
    padding: 0
    margin-top: 8px
    background-color: #fff
    list-style: none
    z-index: 1000
  li
    padding: 10px 16px
    border-bottom: 1px solid #ccc
    cursor: pointer
  span
    display: block
    color: #2c3e50
  .active
    background-color: #3aa373
    span
      color: white
  .form
    font-style: normal
    font-weight: bold
  .gloss
    font-style: italic
