<p>
Dear <%= @resource.first_name %>,
</p>

<p>
Please confirm your account by clicking on the link below:
</p>

<p>
<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</p>

<p>
Best wishes,<br/>
The PROIEL team
</p>
