<p>
Dear <%= @resource.first_name %>,
</p>

<p>Someone has requested a user name reminder and a link to reset your
password.</p>

<p>Your user name is <%= @resource.login %>. If you need to reset your
password, you should click on the link below. You will be taken to the
PROIEL website and asked to enter a new password.</p

<p>
<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</p>

<p>
Best wishes,<br/>
The PROIEL team
</p>
