<ul class="autocomplete_list">
  <% for result in @transliterations -%>
    <li class="autocomplete_item"><b><%= result %></b></li>
  <% end -%>
  <% for result in @completions -%>
    <li class="autocomplete_item"><%= result %></li>
  <% end -%>
</ul>
