<%= stylesheet 'morphtags' %>

<div class="legend morphtags-legend">
  <h3>Legend:</h3>

  <dl>
    <dt class="mannotated-bg"></dt><dd>Annotated</dd>
    <dt class="munambiguous-bg"></dt><dd>Unambiguous guess</dd>
    <dt class="mambiguous-bg"></dt><dd>Ambiguous or no guess</dd>
  </dl>
</div>
