<%= stylesheet 'morphtags' %>

<div class="legend morphtags-legend">
  <h3>Legend:</h3>

  <dl>
    <dt class="mannotated-bg"></dt><dd>Annotated</dd>
    <dt class="mguessed-bg"></dt><dd>Guessed</dd>
    <dt class="munannotated-bg"></dt><dd>Unannotated</dd>
  </dl>
</div>
