<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PROIEL</title>
    <script type="text/javascript">var ie = false;</script>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="search" type="application/opensearchdescription+xml" title="Search PROIEL" href="/search.xml">
    <link rel="contents" href="/">
    <!-- link rel="next" -->
    <!-- link rel="prev" -->
    <link rel="index"    href="/sentences">
    <link rel="glossary" href="/lemmata">
    <!--[if IE]>
    <script type="text/javascript">ie = true;</script>
    <![endif]-->

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />

    <meta name="DC.title" lang="en" content="Pragmatics in Indo-European Languages" />
    <meta name="DC.subject" lang="en" content="Indo-European languages; PROIEL; linguistics; corpus linguistics; treebank; dependency grammar; Latin; Ancient Greek; Greek; Old Church Slavonic; Slavic; Slavonic; Gothic; Germanic; Armenian; New Testament" />
    <meta name="DC.publisher" content="University of Oslo" />
    <meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text" />
    <meta name="DC.format" content="text/html; charset=utf-8" />
    <meta name="DC.identifier" scheme="DCTERMS.URI" content="http://foni.uio.no:3000" />
    <meta name="DC.language" scheme="ISO639-3" content="lat;chu;grc;got;xcl" />

    <%= javascript_include_tag "prototype", "scriptaculous", "utils", "effects", "controls", :cache => "base" %>
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "pagination" %>
    <%= stylesheet_link_tag "message_block" %>
    <%= stylesheet_link_tag "semantic_forms" unless params[:controller] == 'info_statuses' or params[:controller] == 'sentence_divisions' %>
    <%= stylesheet_link_tag "screen",     :media => "screen" %>

    <%= stylesheet_link_tag "print",      :media => "print" %>
    <%= stylesheet_link_tag "projection", :media => "projection" %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= announcement_block %>
    <div id="headline">
    </div>
    <div id="navbar">
      <% if logged_in? %>
        <span style="float:left">
          <%= link_to 'Text', '/', :accesskey => 't', :accesskey => '1' %>
          <% if current_user.has_role?(:annotator) %>
            <%= link_to 'Annotation', :controller => :wizard %>
            <% if current_user.has_role?(:reviewer) %>
              <%= link_to 'Administration', :controller => :home, :action => :user_administration %>
            <% end %>
          <% end %>
          <% if current_user.has_role?(:annotator) %>
            <%= link_to 'Statistics', statistics_path %>
          <% end %>
          <%= link_to 'Search', { :controller => :home, :action => :search }, :accesskey => 's', :style => 'display: none' %>
          <%= link_to 'Preferences', edit_preferences_path %>
        </span>
        <span style="float:right">
          <% form_tag({ :controller => "home", :action => "quick_search" }, { :style => 'display: inline; padding: 0 0 0 0;' }) do -%>
            <%= text_field_tag :q, params[:q], :size => 15 %>
            <%= submit_tag 'Search' %>
          <% end %>
          <%= link_to 'Downloads', site_path('public_data') %>
          <%= link_to 'Help', site_path('help'), :accesskey => '6' %>
          <%= link_to 'Logout', logout_path %>
        </span>
        <br style="clear:both"/>
      <% else %>
        &nbsp;
      <% end %>
    </div>

    <div id="body">
      <%= message_block %>

      <%= yield %>
    </div>
    <div id="footer">
      <span class="tag">proiel</span> release <%= PROIEL_RELEASE %>.
      <% if Rails.env == 'development' %>(Running in development mode.)<% end %>
    </div>
  </body>
</html>
