<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PROIEL</title>
    <script type="text/javascript">var ie = false;</script>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="search" type="application/opensearchdescription+xml" title="Search PROIEL" href="<%= SITE_CANONICAL_URL %>/search.xml">
    <link rel="contents" href="/">
    <!-- link rel="next" -->
    <!-- link rel="prev" -->
    <link rel="index"    href="/annotations">
    <link rel="glossary" href="/lemmata">
    <!--[if IE]>
    <script type="text/javascript">ie = true;</script>
    <![endif]-->
    <%= javascript_include_tag "prototype", "utils", "effects", "controls" %>
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "pagination" %>
    <%= stylesheet_link_tag "screen",     :media => "screen" %>

    <%= stylesheet_link_tag "print",      :media => "print" %>
    <%= stylesheet_link_tag "projection", :media => "projection" %>
    <%= yield(:head) %>
  </head>

  <body>
    <div id="headline">
    </div>
    <div id="navbar">
      <% if logged_in? %>
        <span style="float:left">
          <%= link_to 'Text', '/', :accesskey => 't', :accesskey => '1' %>
          <% if current_user.has_role?(:annotator) %>
            <%= link_to 'Annotation', :controller => :wizard, :wizard => { :level => :annotation } %>
            <% if current_user.has_role?(:reviewer) %>
              <%= link_to 'Review', :controller => :wizard, :wizard => { :level => :review } %>
              <%= link_to 'Administration', :controller => :home, :action => :user_administration %>
            <% end %>
          <% end %>
          <% if current_user.has_role?(:annotator) %>
            <%= link_to 'Statistics', statistics_path %>
          <% end %>
          <%= link_to 'Search', { :controller => :home, :action => :search }, :accesskey => 's', :style => 'display: none' %>
          <%= link_to 'Preferences', edit_preferences_path %>
        </span>
        <span style="float:right">
          <% form_tag({ :controller => "home", :action => "search" }, { :style => 'display: inline; padding: 0 0 0 0;' }) do -%>
            <%= text_field_tag :q, params[:q], :size => 15 %>
            <%= submit_tag 'Search' %>
          <% end %>
          <%= link_to 'Help', site_path('help'), :accesskey => '6' %>
          <%= link_to 'Logout', logout_path %>
        </span>
        <br style="clear:both"/>
      <% else %>
        &nbsp;
      <% end %>
    </div>

    <div id="body">
      <%= message_block %>
      <%= announcement_block %>

      <%= yield %>
    </div>
    <div id="footer">
      <% if ENV['RAILS_ENV'] == 'development' %>(Running in development mode)<% end %>
    </div>
  </body>
</html>
